@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0%;
    margin: 0%;
}

h2{
    text-align: center;
    padding: 30px;  
    background-color: #7FB045;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    background-color: #609A41;
    padding: 20px;
    border-bottom: rgba(0, 0, 0, 0.111) solid;
    border-top: rgba(0, 0, 0, 0.111) solid;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 30px;
    
}

a:hover{
    color: black;
    background-color: #ffffff;
    transition: 0.5s;
}

img{
    margin-top: 50px;
    width: 95%;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body{
    height: 100vh;
    background-image: url('/imagem/photo-1617957796155-72d8717ac882.jpg');

}

.conteiner{
    display: flex;
    height: 105%;
    justify-content: center ;
}

.flex{
    height: 100%;
    width: 50%;
    background-color: #34933c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 40px;
    border: rgba(0, 0, 0, 0.253) solid;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-size: 25px;
    text-align: center;
}

.notas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

h3{
    margin-bottom: 40px;
    margin-top: 40px;
    border-bottom: black solid ;

}

.choose{
    display: flex;
    justify-content: center;
}

li{
    padding: 0px;
    margin: 0px;
}